body{
    height: 100vh;
    background-image: url('../02-funcionario/fundo.jpg');
    font-family: 'Poppins', sans-serif; 
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 500px;
    backdrop-filter:  blur(7px);
    border-radius: 37px;
    padding: 30px;
    border: 1px, solid rgba(104, 104, 104, 0.3);
    background-color: rgb(255, 255, 255, 0.3);
}

.paba{
    background-color: rgba(233, 233, 233, 0.3);
    border-radius: 15px;
    border: 1px, solid rgba(255, 255, 255, 0.3);
}

.titulo{
    font-weight: 600;
}

label{
    font-weight: 440;
    font-size: larger;
}

.by{
    border-radius: 30px;
    background-color: black;
    border: none;
    transition:  all 0.3s ease-in-out;
}

.by:hover{
    scale: 1.07;
    background-color:  rgba(47, 51, 51, 0.4);
    color: rgb(176, 176, 176);
}

.link{
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.menor{
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(7px);
}

input{
    border-radius: 15px;
    border: none;
    background-color: rgba(199, 199, 199, 0.562);
    transition: all 0.3s ease-in-out;
    outline: none;
}

input:hover{
    background-color: rgba(104, 104, 104, 0.4);
}

input:focus{
    background-color: rgba(175, 175, 175, 0.562);
    color: white;
}

::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.6);
}