body {
    background-image: url(./coracao3.png);
    font-family: Arial, sans-serif;
    height: 150vh;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: rgb(255, 255, 255, 0.3);
    padding: 50px;
    border-radius: 60px;
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

a{
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.card {
    border-radius: 30px;

}

h2 {
    font-weight: bold;
}

.historico{ 
    background: #f8f9fa;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    border-left: 5px solid  #198754;
}

.card p-3 shadow {
    
     color: rgb(0, 0, 0);
    text-align: center;
    /* define cor de fundo*/
    background-color: rgba(202, 255, 246, 0.7);
    /* define cor e estilo da borda*/
    border: 1px, solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    /* cria uma sombra atras do objeto*/
    box-shadow: 0px 30px 60px hsl(0, 0%, 0%, 0.3);
    /* cria um efeito de blur nos objetos que estão atras */
    backdrop-filter: blur(7px);
    padding: 13px;
}
.text-center{
    color: rgb(0, 0, 0);
    text-align: center;
    /* define cor de fundo*/
    background-color: rgba(202, 255, 246, 0.7);
    /* define cor e estilo da borda*/
    border: 1px, solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    /* cria uma sombra atras do objeto*/
    box-shadow: 0px 30px 60px hsl(0, 0%, 0%, 0.3);
    /* cria um efeito de blur nos objetos que estão atras */
    backdrop-filter: blur(4px);
    padding: 20px;
}

.btn{
    color: white;
    background-color: black;
    border-radius: 30px;
    border: none;
    transition: scale 0.2s, color 0.2s;
    padding: 15px;
}

.btn:hover{
    scale: 1.1;
    background-color: black;
    color: rgb(21, 255, 216);

    
}
.card, p-4, shadow, mt-4{
    border-radius: 30px;
}

.form-control{
    border-radius: 15px;
    border: none;
    background-color: rgba(202, 255, 255, 0.562);
    transition: background-color 0.2s;
}

.form-control:hover{
    background-color: rgba(154, 190, 190, 0.562);
}

.form-select, option{
    border-radius: 15px;
    border: none;
    background-color: rgba(202, 255, 255, 0.562);
    transition: background-color 0.2s;
    
}

.form-select:hover{
    background-color: rgba(154, 190, 190, 0.562);
}



.option:hover{
    background-color: rgba(154, 190, 190, 0.562);
}

.alert{
    border-radius: 20px;
}